/* =================== Buy stocks ============ */
.buy__stocks__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 1rem;
}

.buy__content {
  display: flex;
  justify-content: center;
}

.buy__heading {
  text-align: center;
}

.buy-wrapper {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  /* border: 2px solid var(--darker-border-color); */
  /* padding: 0.5rem 0.75rem; */
  width: 100%;
  /* max-width: 800px; */
  width: 100%;
  /* padding: 3rem 2rem; */
}

.buy__scrollable {
  max-height: 530px !important;
  overflow-x: scroll;
}

.buy__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
  width: 100%;
}

.filter__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#filter-dropdown {
  /* display:; */
  z-index: 10;
}

.buy__td {
  display: flex;
  max-width: 80%;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.buy__td .green__btn {
  width: 100% !important;
  text-align: center;
}

@media screen and (max-width: 658px) {
  .buy__heading {
    flex-direction: column;
  }
}

/* ================== Cart Handling ============== */
.cart__sections__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 1rem;
}

.cart__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* flex-direction: column; */
}

.cart input,
.cart__modifier__btns input {
  width: 4rem;
  /* flex-direction: column; */
}

.cart__card__heading {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.cart__card {
  /* background-color: red; */
  background-color: var(--card-color);
  border: 2px solid var(--border-color);
  padding: 1.5rem 1rem;
  border-radius: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 320px;
  width: 100%;
}

.cart__card__bottom {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  /* background-color: red; */
}

.cart__modifier__btns {
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: end;
  gap: 0.5rem;
  /* background-color: blue; */
  max-width: 50%;
  width: 100%;
}
.cart__price__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 768px) {
  .cart input,
  .cart__modifier__btns input {
    width: 5rem !important;
    /* flex-direction: column; */
  }
  .cart__wrapper {
    padding: 4rem 1rem;
  }

  .cart {
    flex-direction: column;
    gap: 1.5rem;
  }

  .cart input,
  .cart__modifier__btns input {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .cart__card {
    padding: 1rem;
  }

  .cart__modifier__btns {
    max-width: 100%;
  }
}

.cart__sections__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =========== Payment Details section =========== */
.payment__details__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px !important;
  width: 100%;
}

.payemnt__details {
  display: flex;
  justify-content: end;
  align-items: center;
}

.payment__card {
  max-width: 350px;
  width: 100%;
  border: 2px solid var(--darker-border-color);
  background-color: var(--gray-color);
}

.cart__sections__wrapper .absolute {
  position: absolute;
  right: 2rem;
  bottom: -1rem;
  background-color: transparent;
}

.cart__sections__wrapper {
  padding-bottom: 8rem;
}

.payment__modifiers {
  flex-direction: row !important;
}

/* ================ Modal css ================ */
/* Modal container */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top of other elements */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
  padding: 0rem 1rem;
}

/* Modal content */
.modal-content {
  background-color: var(--card-color);
  margin-top: 10%; /* 20% from the top and centered */
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border: 2px solid var(--darker-border-color);
  width: 80%;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 8px var(--card-color);
}

@media screen and (max-width: 1100px) {
  .modal-content {
    margin: 20% auto !important;
  }
}

* ================ Modal css ================ */
/* Modal container */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top of other elements */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
  padding: 0rem 1rem;
}

/* Modal content */
.modal-content {
  background-color: var(--card-color);
  margin-top: 10%; /* 20% from the top and centered */
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border: 2px solid var(--darker-border-color);
  width: 80%;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 8px var(--card-color);
}

@media screen and (max-width: 1100px) {
  .modal-content {
    margin: 20% auto !important;
  }
}

/* Modal title */
.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Modal details */
.modal-details p {
  margin: 8px 0;
}

/* Close button */
.close {
  color: var(--red-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--red-color);
  text-decoration: none;
  cursor: pointer;
}
